#home {
    color: #286140;
    font-weight: 800;
}

#nav {
    background-color: white;
}

#home span {
    color: #79c001;
}

#menuItems {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.navLink {
    color: #286140;
    text-decoration: none;

}

.toggle {
    font-size: 25px;
    color: #286140;
}

.button {
    border: 0;
    background-color: white;
    box-shadow: none;
}

.button:hover {
    box-shadow: none;
}



.navExpand {

        position: absolute;
        top: 100%; /* Position the menu below the navbar */
        left: 0;
        width: 100%;
        background-color: #fff; /* Set a background color for the menu */
        z-index: 100; /* Set a higher z-index to ensure the menu appears on top */
        padding: 10px;
        opacity: 0.9;
}