.container {
    background-color: white;
    padding: 2%;
}

.buttonContainer {
    background-color: white;
    
    height: 25vh;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selectButton {

    height: 40vw;
    max-height: 300px;
    width: 40vw;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}

.logoutButton {
    width: 98%;
    height: 20vw;
    max-height: 150px;

}