.container {
    background-color: white;
    padding: 2%;
}

.buttonContainer {
    background-color: white;
    
    height: 25vh;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selectButton {
    background-color: yellow;
    height: 40vw;
    max-height: 300px;
    width: 40vw;
    max-width: 300px;
    border: solid 2px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}