.marker {
    display: flex;
    width: 40px;
    height: 40px;
    font-weight: 600;
    color: black;
    background-color: white;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}