.App {
    /* text-align: center; */
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  /* DemoDesktop Table */
  .stickyColumn {
    position: sticky;
    left: 0;
    background-color:  #edf7ed !important;; /* Match your theme's background or set as needed */
    z-index: 1; /* Ensure it's above other content */
    border-right: 1px solid #e0e0e0; /* Optional, for visual separation */
  }

  .stickyColumnHeader {
    position: sticky;
    left: 0;
    background-color: #79c002 !important; /* Match your theme's background or set as needed */
    z-index: 5 !important;  /* Ensure it's above other content */
    border-right: 1px solid #e0e0e0; /* Optional, for visual separation */
  }

  .tableHeader {
    left: 0;
    background-color: #79c002 !important; /* Match your theme's background or set as needed */
    z-index: 2 !important; /* Ensure it's above other content */
    border-right: 1px solid #e0e0e0; /* Optional, for visual separation */
  }

  /* InfinateScroll */
  .infinite-scroll-component__outerdiv {
  
    width: 100%;
  }
  
  .infinite-scroll-component {
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  